@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>University</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Welcome to the University</h2>
        <p>
            This application demonstrates EF6 usage in MVC5
        </p>
    </div>
</div>